.metadata/.lock
.metadata/.log
.metadata/version.ini
.metadata/.mylyn/repositories.xml.zip
.metadata/.mylyn/tasks.xml.zip
.metadata/.mylyn/.taskListIndex/segments.gen
.metadata/.mylyn/.taskListIndex/segments_1
.metadata/.plugins/org.eclipse.core.resources/0.snap
.metadata/.plugins/org.eclipse.core.resources/.history/82/004df5c8d184001710b6b3717c9d7b79
.metadata/.plugins/org.eclipse.core.resources/.history/88/200669e0d184001710b6b3717c9d7b79
.metadata/.plugins/org.eclipse.core.resources/.history/8c/50443118d284001710b6b3717c9d7b79
.metadata/.plugins/org.eclipse.core.resources/.history/8d/4094b2d9d184001710b6b3717c9d7b79
.metadata/.plugins/org.eclipse.core.resources/.history/9e/f02ae6b9d184001710b6b3717c9d7b79
.metadata/.plugins/org.eclipse.core.resources/.history/a0/b06df9c1d184001710b6b3717c9d7b79
.metadata/.plugins/org.eclipse.core.resources/.history/d1/802c49cfd184001710b6b3717c9d7b79
.metadata/.plugins/org.eclipse.core.resources/.history/e8/008a64dbd184001710b6b3717c9d7b79
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/Seminar/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Seminar/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Seminar/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Seminar/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Seminar/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.gwtplugins.gdt.eclipse.suite.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.gwtplugins.gwt.eclipse.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.logging.aeri.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.j2ee.webservice.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.pde.api.tools.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.ui.prefs
.metadata/.plugins/org.eclipse.debug.core/.launches/Main.launch
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/server-config.json
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/http-cache/write.lock
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fdt
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fnm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.frq
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.nrm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.tii
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/segments.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/segments_1
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/write.lock
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.fdt
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.fnm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.frq
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.nrm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.tii
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments_1
.metadata/.plugins/org.eclipse.jdt.core/1206261241.index
.metadata/.plugins/org.eclipse.jdt.core/1213069161.index
.metadata/.plugins/org.eclipse.jdt.core/1271342938.index
.metadata/.plugins/org.eclipse.jdt.core/1560701503.index
.metadata/.plugins/org.eclipse.jdt.core/1649724347.index
.metadata/.plugins/org.eclipse.jdt.core/1733064856.index
.metadata/.plugins/org.eclipse.jdt.core/1911644267.index
.metadata/.plugins/org.eclipse.jdt.core/2182275090.index
.metadata/.plugins/org.eclipse.jdt.core/2571645808.index
.metadata/.plugins/org.eclipse.jdt.core/2585852906.index
.metadata/.plugins/org.eclipse.jdt.core/2727736440.index
.metadata/.plugins/org.eclipse.jdt.core/2824365561.index
.metadata/.plugins/org.eclipse.jdt.core/3353252374.index
.metadata/.plugins/org.eclipse.jdt.core/3466414993.index
.metadata/.plugins/org.eclipse.jdt.core/365018563.index
.metadata/.plugins/org.eclipse.jdt.core/4091977978.index
.metadata/.plugins/org.eclipse.jdt.core/546844249.index
.metadata/.plugins/org.eclipse.jdt.core/829351960.index
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/0.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/1.png
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.7.0.20160603-1933.xml
.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
.metadata/.plugins/org.eclipse.rse.core/.log
.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.florians-mbp_2055/node.properties
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.florians-mbp_2055/FP.local.files_0/node.properties
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.florians-mbp_2055/H.local_16/node.properties
.metadata/.plugins/org.eclipse.rse.ui/.log
.metadata/.plugins/org.eclipse.ui.intro/introstate
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.fdx
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.fnm
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.frq
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.nrm
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.prx
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.tii
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.tis
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/segments.gen
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/segments_1
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/write.lock
